@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

body {
  font-size: 62.5%;
  background: #f0f0f0;
}

h1 {
  margin-top: 40vh;
  color: #222;
  font-family: 'Gowun Batang', serif;
  font-size: 4rem;
  text-align: center;
}